<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DS Trading | Special offers</title>
  <meta name="description" content="Our company carries out a foreign trade activity of civilian production, cargo vehicles and spare parts and items for special and dual purpose">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    integrity="sha256-XwfUNXGiAjWyUGBhyXKdkRedMrizx1Ejqo/NReYNdUE=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />

  <link rel="stylesheet" href="./style.scss">
</head>

<body>
  <div class="container">
    <div class="go-back_row row">
      <div class="col-12">
        <a class="go-back" href="https://dst.lt">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 494.393 494.393">
            <path
              d="M422.098 214.453L262.342 83.74c-8.818-7.215-21.5-7.215-30.32 0L72.264 214.453a23.94 23.94 0 0 0-8.779 18.527v232.9c0 13.223 10.718 23.94 23.94 23.94h97.352V353.857a17.56 17.56 0 0 1 17.556-17.557h89.7a17.56 17.56 0 0 1 17.555 17.557v135.965h97.354c13.22 0 23.938-10.718 23.938-23.938V232.98a23.95 23.95 0 0 0-8.781-18.527zm72.222-16.65a25 25 0 0 0-9.443-19.394l-203.6-161.82c-9.854-8-21.902-12.003-33.954-12.014-.04 0-.08-.003-.118-.003-.115 0-.23.006-.345.007-11.98.057-23.947 4.056-33.746 12L9.515 178.4a25 25 0 0 0-9.444 19.394L0 216.523c0 13.808 11.193 25 25 25s25-11.192 25-25v-6.43l181.895-144.57s7.3-5.44 15.3-5.44 15.16 5.337 15.16 5.337L444.38 210.093l.012 6.43c0 13.808 11.193 25 25 25s25-11.192 25-25l-.073-18.72z" />
          </svg>
          Go back home
        </a>
      </div>
    </div>

    <main class="main_row row align-items-sm-center">
      <div class="col-sm-6 mb-4 mb-sm-0">
        <h1 class="logo">
          <img src="./img/logo.svg" alt="DS Trading logo">
          Trading
        </h1>

        <h2 class="base-title">
          <span class="base-title_top">CAREFULLY PICKED FOR YOU</span>
          <span class="base-title_main">HOT SALES</span>
        </h2>
      </div>

      <div class="col-sm-6">
        <p><b>Always in stock and on order any models of tracked, wheeled trucks and automotive vehicles, as well as
            tyres
            and spare parts.</b></p>
        <!-- <p>With global policy development and adoption of digital assets underway.</p> -->
      </div>
    </main>
  </div>

  <section class="products-container container">
    <article class="product row">
      <div class="col-md-6">
        <header class="product_header">
          <h2 class="base-title">
            <span class="base-title_main">
              ATS-59G
            </span>
          </h2>

          <div class="product_coast">
            <span>
              <span class="product_coast-label">Price</span>
              <div class="product_coast-num">15,000 EUR</div>
            </span>
          </div>
        </header>

        <p>
          ATS-59G - tracked tractor of multi-purpose use. Special vehicle for towing trailers, transportation of various
          goods and people, operated in particularly difficult road conditions, as well as off-road.The power plant of
          the tractor consists of a 12-cylinder diesel engine A 650 with a power of 300 hp. Vehicle in excellent state!
        </p>

        <img class="product_spec-image" src="./img/ats-59g-spec.png" alt="ats-59g table">
      </div>

      <div class="col-md-6">
        <div class="product-slider_wrapper">
          <div class="incomprehensible-green-square"></div>
          <!-- Слайдер -->
          <div class="product-slider swiper-container gallery-top product-slider--top">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview1.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/ats-59g-preview1.jpg)">
                  <!-- <img src="./img/ats-59g-preview1.jpg"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview2.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/ats-59g-preview2.jpg)">
                  <!-- <img src="./img/ats-59g-preview2.jpg"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview3.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/ats-59g-preview3.jpg)">
                  <!-- <img src="./img/ats-59g-preview3.jpg"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview4.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/ats-59g-preview4.jpg)">
                  <!-- <img src="./img/ats-59g-preview4.jpg"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview5.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/ats-59g-preview5.jpg)">
                  <!-- <img src="./img/ats-59g-preview5.jpg"> -->
                </div>
              </a>
            </div>

            <div class="product-slider_arrow product-slider_arrow--next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>

            <div class="product-slider_arrow product-slider_arrow--prev">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>
          </div>
          <!-- Меню слайдера -->
          <div class="swiper-container gallery-thumbs product-slider--thumbs">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/gaz1.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/gaz1.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz2.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/gaz2.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz3.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/gaz3.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz4.png">
                <div class="swiper-slide-container">
                  <img src="./img/gaz4.png">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz5.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/gaz5.jpg">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="product row">
      <div class="col-md-6">
        <header class="product_header">
          <h2 class="base-title">
            <span class="base-title_main">
              GAZ-66
            </span>
          </h2>

          <div class="product_coast">
            <span>
              <span class="product_coast-label">Price</span>
              <div class="product_coast-num">4,000 EUR</div>
            </span>
          </div>
        </header>

        <p>
          GAZ-66 – truck, that was one of the mainstays of both the Soviet Army and civilian off-road transportation in
          the former Soviet Union. It is simple in design and technology, and also it is easy to maintain. Vehicle is in
          perfect state with 1500 mileage.
        </p>

        <img class="product_spec-image" src="./img/gaz.png" alt="GAZ-66 table">
      </div>

      <div class="col-md-6">
        <div class="product-slider_wrapper">
          <div class="incomprehensible-green-square"></div>
          <!-- Слайдер -->
          <div class="product-slider swiper-container gallery-top product-slider--top">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/gaz1.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/gaz1.jpg)">
                  <!-- <img src="./img/gaz1.jpg" style="display: none"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz2.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/gaz2.jpg)">
                  <!-- <img src="./img/gaz2.jpg" style="display: none"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz3.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/gaz3.jpg)">
                  <!-- <img src="./img/gaz3.jpg" style="display: none"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz4.png">
                <div class="swiper-slide-container" style="background-image: url(./img/gaz4.png)">
                  <!-- <img src="./img/gaz4.png" style="display: none"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/gaz5.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/gaz5.jpg)">
                  <!-- <img src="./img/gaz5.jpg" style="display: none"> -->
                </div>
              </a>
            </div>

            <div class="product-slider_arrow product-slider_arrow--next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>

            <div class="product-slider_arrow product-slider_arrow--prev">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>
          </div>
          <!-- Меню слайдера -->
          <div class="swiper-container gallery-thumbs product-slider--thumbs">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview1.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/ats-59g-preview1.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview2.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/ats-59g-preview2.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview3.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/ats-59g-preview3.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview4.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/ats-59g-preview4.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/ats-59g-preview5.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/ats-59g-preview5.jpg">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="product row">
      <div class="col-md-6">
        <header class="product_header">
          <h2 class="base-title">
            <span class="base-title_main">
              TYRES VI-203
            </span>
          </h2>

          <div class="product_coast">
            <span>
              <span class="product_coast-label">Price</span>
              <div class="product_coast-num">1,100 EUR</div>
            </span>
          </div>
        </header>

        <p>
          Low pressure tyres are designed specifically to conquer off-roads, marshlands, sand, water obstacles and deep
          snow. It does not sink in the swamp and in the mud. Products of this type assume a very low pressure inside
          the wheel with the possibility of adjustment. It goes with camera and rim tape.
        </p>
        <p>Tires are suitable for front loaders. The loader becomes 15 cm higher.</p>
        <p>The tyre life is at least 4 years!</p>

        <img class="product_spec-image" src="./img/tyres.png" alt="ATC-59G table">
      </div>

      <div class="col-md-6">
        <div class="product-slider_wrapper">
          <div class="incomprehensible-green-square"></div>
          <!-- Слайдер -->
          <div class="product-slider swiper-container gallery-top product-slider--top">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/tyre1.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/tyre1.jpg)">
                  <!-- <img src="./img/tyre1.jpg"> -->
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/tyre2.jpg">
                <div class="swiper-slide-container" style="background-image: url(./img/tyre2.jpg)">
                  <!-- <img src="./img/tyre2.jpg"> -->
                </div>
              </a>
            </div>

            <div class="product-slider_arrow product-slider_arrow--next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>

            <div class="product-slider_arrow product-slider_arrow--prev">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <g>
                  <path d="M27 53C12.64 53 1 41.36 1 27S12.64 1 27 1s26 11.64 26 26-11.64 26-26 26z" />
                  <path
                    d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z" />
                </g>
                <path
                  d="M22.294 40c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414L32.88 27 21.587 15.707a1 1 0 0 1 1.414-1.414L34.5 25.79a1.71 1.71 0 0 1 0 2.418L23 39.707c-.195.195-.45.293-.707.293z"
                  fill="#fff" />
              </svg>
            </div>
          </div>
          <!-- Меню слайдера -->
          <div class="swiper-container gallery-thumbs product-slider--thumbs">
            <div class="swiper-wrapper">
              <a class="swiper-slide product-lightbox" href="./img/tyre1.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/tyre1.jpg">
                </div>
              </a>
              <a class="swiper-slide product-lightbox" href="./img/tyre2.jpg">
                <div class="swiper-slide-container">
                  <img src="./img/tyre2.jpg">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="section-application">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="base-title">
            <span class="base-title_top">IF YOU HAVE ANY QUESTIONS & FOR BUSINESS ENQUIRES</span>
            <span class="base-title_main">FEEL FREE TO CONTACT US</span>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="contacts">
            <div class="contacts_item">
              <div class="contacts_icon">
                <img width="20" height="20" src="./img/pin.svg" alt="icon pin">
              </div>
              <div>
                <div class="contacts_title">Contact us</div>
                <span href="#" class="contacts_link">
                  EU, LT-02241, Lithuania,
                  <br />Vilnius, V.A. Graiciuno str., 34
                </span>
              </div>
            </div>

            <div class="contacts_item">
              <div class="contacts_icon">
                <img width="20" height="20" src="./img/phone.svg" alt="icon phone">
              </div>
              <div>
                <div class="contacts_title">Phone</div>
                <a href="tel:+375296528864" class="contacts_link">Phone: +375 29 652-88-64</a>
                <a href="tel:+37061617835" class="contacts_link contacts_link--icons">
                  Office: +370 6161 7835
                  <div>
                    <Icon name="telegram" size="13"></Icon>
                    <Icon name="whatsapp" size="13"></Icon>
                    <Icon name="viber" size="13"></Icon>
                  </div>
                </a>
              </div>
            </div>

            <div class="contacts_item">
              <div class="contacts_icon">
                <img width="23" height="23" src="./img/message.svg" alt="icon message">
              </div>
              <div>
                <div class="contacts_title">E-mail</div>
                <a href="mailto:info@dst.lt" class="contacts_link">info@dst.lt</a>
                <a href="mailto:info@dst.lt" class="contacts_link">sales@dst.lt</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form class="form">
            <div class="form_row">
              <div class="group">
                <input name="name" v-model="name" type="text" placeholder="Jon Doe" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name *</label>
              </div>

              <div class="group">
                <input name="email" v-model="email" type="email" placeholder="JonDoe@gmail.com" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email *</label>
              </div>
            </div>

            <div class="form_row">
              <div class="group">
                <input name="phone" v-model="phone" type="tel" placeholder="+35296141665" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Tel. *</label>
              </div>

              <div class="group">
                <input name="companyName" v-model="companyName" type="text" placeholder="Jon Doe LLC." />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Company</label>
              </div>
            </div>

            <div class="form_row">
              <div class="group w-100">
                <input name="message" v-model="message" type="text" placeholder="..." required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
              </div>
            </div>

            <div class="form_action">
              <button class="form_submit" @click="sentForm">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start mb-4 mb-md-0">
          <a href="https://dst.lt" class="footer_logo logo">
            <img src="./img/logo.svg" alt="DS Trading logo">
            Trading
          </a>

          <span class="copyright">All rights reserved, 2019 UAB DST</span>
        </div>

        <div class="col-12 col-md-6 d-flex align-items-center">
          <nav>
            <ul>
              <li><a href="https://dst.lt">URAL</a></li>
              <li><a href="https://dst.lt">KAMAZ</a></li>
              <li><a href="https://dst.lt">MAZ</a></li>
              <li><a href="https://dst.lt">YAMZ</a></li>
              <li><a href="https://dst.lt">ARMOURED VEHICLES</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
    integrity="sha256-uckMYBvIGtce2L5Vf/mwld5arpR5JuhAEeJyjPZSUKY=" crossorigin="anonymous">
    </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      var productThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 5,
        slidesPerView: 5,
        loop: true,
        freeMode: true,
        loopedSlides: 5,
      });

      var productTop = new Swiper('.gallery-top', {
        spaceBetween: 5,
        loop: true,
        loopedSlides: 5,
        navigation: {
          nextEl: '.product-slider_arrow--next',
          prevEl: '.product-slider_arrow--prev',
        },
      });


      $('.product-lightbox').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        closeBtnInside: false,
        fixedContentPos: true,
        mainClass: 'mfp-no-margins mfp-with-zoom',
        gallery: {
          enabled: true
        },
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300
        }
      });

      $(".form").submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "mail.php",
          data: $(this).serialize(),
          error: function (request, errorStatus, errorThrown) {
            console.error(request);
            console.error(errorStatus);
            console.error(errorThrown);
          },
          success: function () {
            console.info('Success')
          }
        });
      });
    });
  </script>
</body>

</html>